<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString"
            connectionString="Data Source=LAPTOP-4EFUU78K\SQLEXPRESS01;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString1"
            connectionString="Data Source=DESKTOP-G67KDJT;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString2"
            connectionString="Data Source=DESKTOP-V99O7H4\HAIDANG;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString3"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString4"
            connectionString="Data Source=TRANHUYNHTANPHA;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyGiaSu.Properties.Settings.TRUNGTAMGIASUConnectionString5"
            connectionString="Data Source=DESKTOP-3SM2096\SQLEXPRESS;Initial Catalog=TRUNGTAMGIASU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>